<div class="dialog-content">
  <div class="organization-header">
    <img [src]="orgLogoUrl" class="organization-logo" alt="Organization Logo" />

    <div class="organization-summary">
      <div class="heading">
        <h3>{{ organization.name }}</h3>

        <mat-chip [ngClass]="organization.status.toLowerCase()">
          {{ organization.status }}
        </mat-chip>
      </div>

      <div class="storage-section">
        <div class="storage-header">
          <span>Storage</span>

          <span>
            {{ organization.totalStorageBytes | fileSize }}
            of
            {{ totalStorgeLimits | fileSize }}
            used
          </span>
        </div>

        <div class="storage-progress-wrapper">
          <mat-progress-bar
            mode="determinate"
            [value]="(organization.totalStorageBytes / totalStorgeLimits) * 100"
          >
          </mat-progress-bar>

          <span class="storage-percentage">
            {{
              (organization.totalStorageBytes / totalStorgeLimits) * 100
                | number: "1.0-1"
            }}%
          </span>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="org-details">
    <section class="details-section">
      <h3>Organization Information</h3>

      <div class="details-grid">
        <div class="detail-item">
          <span class="detail-label">Name</span>
          <span class="detail-value">
            {{ organization.name }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">Email</span>
          <span class="detail-value">
            {{ organization.email }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">Phone</span>
          <span class="detail-value">
            {{ organization.phone }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">Address</span>
          <span class="detail-value">
            {{ organization.address }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">City</span>
          <span class="detail-value">
            {{ organization.city }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">State</span>
          <span class="detail-value">
            {{ organization.state }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">Country</span>
          <span class="detail-value">
            {{ organization.country }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">Zip Code</span>
          <span class="detail-value">
            {{ organization.zipCode }}
          </span>
        </div>

        <!-- Metadata belongs here -->
        <div class="detail-item">
          <span class="detail-label">Created At</span>
          <span class="detail-value">
            {{ organization.createdAt | date: "dd MMM yyyy, hh:mm a" }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label">Updated At</span>
          <span class="detail-value">
            {{ organization.updatedAt | date: "dd MMM yyyy, hh:mm a" }}
          </span>
        </div>
      </div>
    </section>

    <!-- Organization Permission & Admin -->
    <section class="details-section">
      <h3>Admin Details</h3>

      <div class="details-grid">
        <div class="detail-item">
          <span class="detail-label">Name</span>

          <span class="detail-value">
            {{ organization.orgAdmin.firstName }}
            {{ organization.orgAdmin.lastName }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label"> Email </span>

          <span class="detail-value">
            {{ organization.orgAdmin.email }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label"> Phone </span>

          <span class="detail-value">
            {{ organization.orgAdmin.phone }}
          </span>
        </div>

        <div class="detail-item">
          <span class="detail-label"> Status </span>

          <span class="detail-value">
            <mat-chip [ngClass]="organization.orgAdmin.status.toLowerCase()">
              {{ organization.orgAdmin.status }}
            </mat-chip>
          </span>
        </div>
      </div>
    </section>
  </div>
  <div class="close-button">
    <button mat-flat-button mat-dialog-close>Close</button>
  </div>
</div>
