<div class="set-password">
  <mat-card>
    <app-platform-logo routerLink="/" />
    @if (!passwordSetted) {
      <h2>{{ title }}</h2>
      @if (errorMessage !== undefined) {
        <mat-error class="invalid-error-message">
          {{ errorMessage }}
        </mat-error>
      }
      <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" />
          @if (
            newPassword?.hasError("required") &&
            newPassword!.touched
          ) {
            <mat-error>New password is required.</mat-error>
          }
        </mat-form-field>
        @if (
          newPassword?.hasError("pattern") &&
          newPassword!.touched
        ) {
          <div class="password-helper">
            <mat-icon>info</mat-icon>Password must contain at least one
            uppercase letter, one lowercase letter, one digit, one special
            character, must be at least 8 characters long.
          </div>
        }
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          @if (
            confirmPassword?.hasError("required") &&
            confirmPassword!.touched
          ) {
            <mat-error>Confirm password is required.</mat-error>
          }
          @if (
            confirmPassword?.hasError(
              "passwordMismatch"
            ) && confirmPassword!.touched
          ) {
            <mat-error>Passwords do not match.</mat-error>
          }
        </mat-form-field>
        <button
          mat-flat-button
          type="submit"
          [disabled]="setPasswordForm.invalid || isSubmitting"
        >
          @if (isSubmitting) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            <span>{{ buttonText }}</span>
          }
        </button>
      </form>
    } @else {
      <h2>{{ passwordSettedMessage }}</h2>
      <div>
        <mat-icon class="success-check">task_alt</mat-icon>
      </div>
    }
    <a routerLink="/login" class="back-link">
      <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
      Back to Login
    </a>
  </mat-card>
</div>