.landing-navbar {
  // border-bottom: 1px solid;
  position: sticky;
  background-color: white;
  border-bottom: 1px solid rgb(223, 223, 223);
  top: 0;
  z-index: 1000;
  .navbar-container {
    max-width: 1200px;
    height: 72px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
  }
  .navbar-links {
    display: flex;
    gap: 32px;
  }
  .navbar-links a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-weight: 500;
  }
  .navbar-links a:hover {
    color: var(--color-primary);
  }
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
